@font-face {
	font-family: "Fifaks10Dev1";
	src: url("./Fifaks10Dev1.ttf") format("truetype");
}

html {
	min-height: 100%;
}
body {
	min-height: 100%;
	background-color: #124E89;
	background-image: url("./imgs/background_top.png"),
                      url("./imgs/background_bottom.png");
	background-repeat: no-repeat;
	background-position: left top, right bottom;
	background-size: 33vw, 66vw;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.container {
	width: 100vw;
	max-width: 700px;
	flex-shrink: 0;
	/* padding: 5vw; */
}

h1 {
	font-family: "Fifaks10Dev1", "PT Sans Caption", Arial, Helvetica, sans-serif;
	font-size: clamp(3rem, 12vw, 6rem);
	text-align: center;
	color: #ff841b;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

p {
	position: relative;
	font-family: "Fifaks10Dev1", "PT Sans", Arial, Helvetica, sans-serif;
	font-size: clamp(2rem, 5vw, 3rem);
	color: #793e0d;
	padding: 0.3em 0.5em;
	margin: 1.5em 0.5em;
}
.parchment::before, p::before {
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
	background: #fffef0;
	z-index: -1;
	filter: url(#wavy2);
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
}

.pirate-swim {
	position: relative;
	height: clamp(100px, 20vw, 200px);
}
.pirate-swim img {
	position: absolute;
	image-rendering: pixelated;
	width: clamp(100px, 20vw, 200px);
}

.pirate-attack {
	height: 128px;
	position: relative;
}
.pirate-attack div {
	position: absolute;
	width: 150px;
	height: 128px;
	background: url("./imgs/pirate-attack.png") 0px 0px no-repeat;
	background-size: 450px 128px;
	image-rendering: pixelated;
	animation: pirate-attack 0.8s steps(3) 0s infinite normal,
			   pirate-attack-walk 4s linear 0s infinite normal;
}

@keyframes pirate-attack {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -450px 0;
	}
}
@keyframes pirate-attack-walk {
	0% {
		left: 0;
		transform: scaleX(1);
	}
	49% {
		left: calc(100% - 150px);
		transform: scaleX(1);
	}
	50% {
		left: calc(100% - 150px);
		transform: scaleX(-1);
	}
	100% {
		left: 0;
		transform: scaleX(-1);
	}
}


.crab-attack {
	height: 82px;
	position: relative;
}
.crab-attack div {
	position: absolute;
	width: 150px;
	height: 82px;
	background: url("./imgs/crab.png") 0px 0px no-repeat;
	background-size: 300px 82px;
	image-rendering: pixelated;
	animation: crab-attack 0.4s steps(2) 0s infinite normal,
			   crab-attack-walk 4s cubic-bezier(0.8, 0.2, 0.38, 0.88) 0s infinite normal;
}
@keyframes crab-attack {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -300px 0;
	}
}
@keyframes crab-attack-walk {
	0% {
		left: calc(50% - 75px);
	}
	25% {
		left: calc(100% - 150px);
	}
	75% {
		left: 0;
	}
	100% {
		left: calc(50% - 75px);
	}
}


.pirate-dig {
	height: 128px;
	position: relative;
}
.pirate-dig div {
	position: absolute;
	width: 150px;
	height: 128px;
	background: url("./imgs/pirate-dig.png") 0px 0px no-repeat;
	background-size: 900px 128px;
	image-rendering: pixelated;
	animation: pirate-dig 1.5s steps(6) 0s infinite normal,
			   pirate-dig-walk 6s linear 0s infinite normal;
}

@keyframes pirate-dig {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -900px 0;
	}
}
@keyframes pirate-dig-walk {
	0% {
		left: 0;
		transform: scaleX(1);
	}
	24.9% {
		left: 0;
		transform: scaleX(1);
	}
	25% {
		left: calc(50% - 75px);
		transform: scaleX(1);
	}
	49.9% {
		left: calc(50% - 75px);
		transform: scaleX(1);
	}
	50% {
		left: calc(100% - 150px);
		transform: scaleX(-1);
	}
	74.9% {
		left: calc(100% - 150px);
		transform: scaleX(-1);
	}
	75% {
		left: calc(50% - 75px);
		transform: scaleX(-1);
	}
	100% {
		left: calc(50% - 75px);
		transform: scaleX(-1);
	}
}

.btn {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 8em;
	margin-top: 8em;
}
.btn a {
	position: relative;
	font-family: "Fifaks10Dev1", "PT Sans", Arial, Helvetica, sans-serif;
	font-size: clamp(2rem, 5vw, 3rem);
	padding: 0.5em 1em;
	margin: 0.5em 1em;
	border: 5px solid orange;
	background-color: #ffbb00;
	color: #793e0d;
	border-radius: 0.2em;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}
.btn a:hover, .btn a:focus {
	color: #ac540d;
}
.btn a:hover::before, .btn a:focus::before {
	box-shadow: 2px 3px 50px black, 0 0 125px #cf7f30 inset;
}
.btn a::before {
	border: 8px solid #793e0d;
}

.navbar {
	margin-bottom: 4em;
	margin-top: 0em;
}
.navbar a {
	padding: 0.2em 0.6em;
}
.navbar a::before {
	left: 0;
	top: -0.1em;
	width: calc(100% - 0.8em);
	height: calc(100% - 0.3em);
}