.popup {
	--popup-back: #fff7e5;
	--popup-border: lightgreen;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup-block {
	--popup-margin: 1rem;
	position: relative;
	display: flex;
    flex-direction: column;
	background-color: var(--popup-back);
	border: 0.5em solid var(--popup-border);
	border-radius: 1em;
	font-size: 1.2rem;
	min-width: 15em;
    min-height: 8em;
	max-height: 100vh;
	box-shadow: 0.5em 1em 1em -1em black;
}

.popup-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: var(--popup-margin);
}
.popup-title {
	font-size: 1.2em;
	text-align: center;
}
.popup-close {
	position: absolute;
	right: -0.4em;
	top: -0.4em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--popup-border);
	border: none;
	border-radius: 0 1em 0 1em;
	width: 1.7em;
	height: 1.7em;
	outline: none;
	font-size: inherit;
}
.popup-close:hover,
.popup-close:focus {
	color: tomato;
}

.popup-content {
	margin: 0em var(--popup-margin);
	flex-grow: 1;
	overflow: auto;
	overflow: overlay;
}
.popup-content::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
.popup-content::-webkit-scrollbar-track {
  background-color: transparent;
	/* background: #f1f1f1; */
}
.popup-content::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.65);
  border-radius: 4px;
}
.popup-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(136, 136, 136);
	/* background: #555; */
}

.popup-footer {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--popup-border);
	margin: 1em -1px -0.2em -1px;
}
.popup-footer-reverse {
	flex-direction: row-reverse;
}
.popup-footer button {
	position: relative;
	border: none;
	background-color: transparent;
	padding: 0 1em 0.1em 1em;
	font-size: inherit;
	font-weight: bold;
	outline: none;
}
.popup-footer button::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 0.1em;
	background-color: currentColor;
	bottom: 0;
	left: 0;
	transition: transform 125ms ease-in-out;
	transform: scaleX(0);
}
.popup-footer button:hover::after,
.popup-footer button:focus::after {
	transform: scaleX(1);
}

.popup-contextMenu {
	list-style: none;
    padding-left: 0.8rem;
}
.popup-contextMenu ul {
	display: none;
}
.popup-contextMenu li {
	padding-right: 0;
	cursor: pointer;
}
.popup-contextMenu li > :first-child {
	padding-top: 0.2em;
}
.popup-contextMenu li > :last-child {
	padding-bottom: 0.2em;
}
.popup-contextMenu-arrow {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin-left: 0.4em;
	background-color: currentColor;
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
	transform: translateY(-0.05em) rotate(45deg);
}
.popup-contextMenu-open > ul {
	display: block;
}
.popup-contextMenu button {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: inherit;
}
.popup-contextMenu-open > button .popup-contextMenu-arrow {
	transform: translateY(-0.15em) rotate(135deg);
}
.popup-contextMenu li > button {
	position: relative;
	display: block;
	text-align: left;
	width: 100%;
}
.popup-contextMenu li > button::after {
	content: "";
	position: absolute;
	display: inline-block;
	left: -0.6em;
	top: 50%;
	width: 0.4em;
	height: 0.4em;
	background-color: lightgreen;
	border-radius: 50%;
	transform: scale(0.8) translateY(-30%);
	transition: transform, 200ms ease-in-out;
}
.popup-contextMenu li > button:hover::after,
.popup-contextMenu li > button:focus::after {
	background-color: lightblue;
	transition: transform 0ms ease-in-out;
	transform: scale(1.2) translateY(-30%);
}