html {
	height: 100%;
}
body {
	min-height: 100%;
	max-height: 100%;
	max-width: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
}
h1 {
	margin-top: 0;
	text-align: center;
}

.toolbar {
	background-color: rgb(195, 247, 195);
	width: 300px;
	padding: 0.4em;
	flex-shrink: 0;
	overflow-y: auto;
	/* min-height: 100%; */
}
.btns {
	display: flex;
	justify-content: center;
}
.btns button {
	width: 2em;
	height: 2em;
	margin-left: 0.5em;
}
.line {
	margin: 0.4em 0;
}
.margin-left > * {
	margin-left: 0.5em;
}

.world-map {
	overflow: auto;
	max-height: 300px;
}
*::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background-color: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 5px;
}
*::-webkit-scrollbar-button {
	background-color: rgba(64, 224, 208, 0.5);
}
*::-webkit-scrollbar-corner {
	background-color: turquoise;
}
.minimap {
	display: table;
    margin-left: auto;
    margin-right: auto;
}
#world-map {
	border-spacing: 0;
	/* border: none; */
    margin-left: auto;
    margin-right: auto;
}
#world-map button {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	background-color: rgb(177, 225, 255);
}
#world-map button.active {
	background-color: rgb(243, 200, 81);
}

.checkbox-switch {
	position: relative;
	display: inline-block;
	background-color: azure;
	/* border: 1px solid rgb(123, 216, 247); */
	border-radius: 1em;
	width: 2.5em;
	height: 1.2em;
	box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
}
.checkbox-switch input {
	visibility: hidden;
}
.checkbox-switch span {
	position: absolute;
	left: 0.15em;
	top: 0.15em;
	display: inline-block;
	width: 0.9em;
	height: 0.9em;
	background-color: tomato;
	box-shadow: 0 0 0.2em tomato;
	border-radius: 1em;
	transition: 250ms;
}
.checkbox-switch input:checked ~ span {
	background-color: lime;
	box-shadow: 0 0 0.2em lime;
	left: 1.45em;
}

.viewport {
	flex-grow: 1;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cursor-move {
	cursor: move;
}
.cursor-pointer {
	cursor: pointer;
}